<mat-card>
    <mat-card-header>
      <div *ngIf="feedObject.pin" mat-card-avatar class="pin-image">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 6v1h.5v5L8 13v2h3.5v4h1v-4H16v-2l-1.5-1V7h.5V6H9z"/></svg>
      </div>
      <mat-card-title>{{ feedObject.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ getFeedObjectCat() }} - 
        <span class="first-letter-uppercase">
          {{ feedObject.date | date:'EEEE d LLLL' }}
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getImageSource()">
    <div fxLayoutAlign="center" class="mediaActions">
      <button mat-icon-button color="primary" [disabled]="index <= 0 "
      (click)="index >= 0 ? decrementeIndex() : null">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="index >= feedObject.medias.length - 1"
      (click)="index <= feedObject.medias.length - 1 ? incrementeIndex() : null">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <mat-card-content>
      <p>
        {{ feedObject.content }}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <a mat-button *ngIf="feedObject.openLink" [href]="feedObject.openLink" target="_blank">Ouvrir</a>
    </mat-card-actions>
</mat-card>
